@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
  margin: 0;
  font-family: "DM Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35)); */
  background-image: linear-gradient(rgb(0, 0,0, 0.1), rgb(0, 0, 0, 0.1)),
  url("./Assets/01.jpg");
  /* background-color: aliceblue; */
}
